body {
margin: 40px 10px;
padding: 0;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.event_table{
    border: 1px solid black;
    width: 100%;
}

td{
    border: 1px solid black;
    text-align: center;
}

th{
   border: 1px solid black;
}

.table_scroll{
    overflow: scroll;
    max-height: 350px;
}