<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css' rel='stylesheet' />
	<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js'></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>


	<link href='static/CalCendar.css?version={{version}}' rel='stylesheet' />
	<script src="static/CalCendar.js?version={{version}}"></script>

</head>
<body>
	<div class="ui container" style="padding-top: 3%; padding-bottom: 3%">
		<img src="static/calendize.png?lastmod={{version}}" alt="Calendize" style="width:80%;height:30%; ">

		<div class="ui form" id="datepicker" style="margin-bottom: 3%; margin-top: 3%">
			<h3> Please specify a time range for optimization, and click fetch to get google calendar events:</h3>
			<div class="three fields">
				  <div class="field">
					<div class="ui calendar" id="rangestart">
					  <div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="From">
					  </div>
					</div>
				  </div>
				  <div class="field">
					<div class="ui calendar" id="rangeend">
					  <div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="To">
					  </div>
					</div>
				  </div>
				<div class="field">
					<button id="fetch_button" class="ui button primary">Fetch events</button>
					<button id="dev_button" class="ui button secondary">dev</button>

				</div>
				<div class="field">
				</div>
			</div>
		</div>

		<div id='calendar' style="max-width: none"></div>
	</div>

    <div id = "calc_report" class="ui container" style="margin-bottom: 3%;">
		<h2> Calculation report </h2>
		<form class="ui form">
			<div class="inline fields">
				<div class="two wide field">
					<label>Clashes</label>
					<input id="clashes_res" type="text">
				</div>
				<div class="two wide field">
					<label>Iterations</label>
					<input id="iterations_res" type="text">
				</div>
			</div>

		</form>
		<canvas id="myChart"></canvas>
    </div>

	<div class="ui container">
		<h2> Events configurations</h2>

        <div style="margin-bottom: 3%;">

			<div style="margin-top: 1%;" id="events_default" class="ui message">
					- No events defined.
			</div>
			<div id="events_populated">
				<div class="" style="margin: auto">
					<h3>Please assign events you wish to optimize one of the classes: anchor, float, opportune, routine</h3>
				</div>
				<table id="events_table" class="ui selectable celled black table">
					<thead>
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Select</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

				<div style="margin: auto">
					<button class="ui button blue" onclick="add_selected_to_table('anchor_table')">Add selected to anchor</button>
					<button class="ui button green" onclick="add_selected_to_table('floating_table')">Add selected to float</button>
					<button class="ui button red" onclick="add_selected_to_table('opportune_table')">Add selected to opportune</button>
				</div>
			</div>
		</div>

		<div  style="margin-bottom: 3%;">
			<div style="margin-bottom: 1%;">
				<h3>Anchor Events:</h3>
			</div>
			<div id="anchor_default" class="ui message">
					- No events defined.
			</div>
			<div id="anchor_populated">
				<table id="anchor_table" class="ui selectable celled blue table">
					<thead>
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Select</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div style="margin: auto">
					<button class="ui red basic button" onclick="remove_selected('anchor_table')">Remove selected</button>
				</div>
			</div>
		</div>

		<div style="margin-bottom: 3%;">
			<div style="margin-bottom: 1%;">
				<h3>Floating Events:</h3>
			</div>
			<div id="floating_default" class="ui message">
					- No events defined.
			</div>
			<div id="floating_populated">
				<table id="floating_table" class="ui selectable celled green table">
					<thead>
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Select</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div style="margin: auto">
					<button class="ui red basic button" onclick="remove_selected('floating_table')">Remove selected</button>
				</div>
			</div>
		</div>

		<div style="margin-bottom: 3%;">
			<div style="margin-bottom: 1%;">
				<h3>Opportune Events:</h3>
			</div>
			<div id="opportune_default" class="ui message">
					- No events defined.
			</div>
			<div id="opportune_populated">
				<table id="opportune_table" class="ui selectable celled red table">
					<thead>
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Select</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div style="margin: auto">
					<button class="ui red basic button" onclick="remove_selected('opportune_table')">Remove selected</button>
				</div>
			</div>
		</div>


		<div style="margin-bottom: 3%; ">
			<div style="margin: auto">
				<h3>Routine Events:</h3>
			</div>

			<div class="ui form message">
			  <div class="inline fields">
				<div class="four wide field">
					<label>Title</label>
					<input id="routine_title" type="text">
				</div>
				<div class="four wide field">
					<label>Duration</label>
					<input id="routine_duration" type="text" placeholder=" < h:m > (e.g. = 1:30 )">
				</div>
				<div class="field">
					<div id="routine_from_calendar" class="ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input id="routine_from" type="text" name="date_estimated_arrival" placeholder="From">
						</div>
					</div>
				</div>
				<div class="field">
					<div id="routine_to_calendar" class="ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input id="routine_to" type="text" name="date_estimated_arrival" placeholder="To">
						</div>
					</div>
				</div>
				  <div id="routine_button" class="ui submit yellow button">Add</div>
			  </div>
			</div>

			<div id="routine_default" class="ui message">
					- No events defined.
			</div>
			<div id="routine_populated">
				<table id="routine_table" class="ui selectable celled yellow table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Duration</th>
							<th>From</th>
							<th>To</th>
							<th>Select</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div style="margin: auto">
					<button class="ui red basic button" onclick="remove_selected_routing()">Remove selected</button>
				</div>
			</div>


		</div>


        <div class="ui container">
            <h2> Algorithm configurations</h2>
            <div class="ui container" style="margin-bottom: 3%; border: solid #3a87ad">
                <div class="ui message" style="margin: auto">
                    <h3>Select Algorithm:</h3>
                    <select id="dd_algo" name="dd_algo" class="ui dropdown" style="width: 30%">
                      <option selected="selected"> - </option>
                      <option value="Genetic Algorithm">Genetic Algorithm</option>
                      <option value="Simulated Annealing">Simulated Annealing</option>
                    </select>
					<div id="ga_conf_form" style="margin-top:1%;">
						<form class="ui form">
							<div class="inline fields" style="margin-top:2%;">
								<div class="four wide field">
									<label>Population Size</label>
									<input id="pop_size" type="text" value="30">
								</div>
								<div class="four wide field">
									<label>Generations</label>
									<input id="gen_num" type="text" value="60">
								</div>
								<div class="four wide field">
									<label>Mutation Factor</label>
									<input id="mut_fact" type="text" value="0.3">
								</div>
								<div class="four wide field">
									<label>Elitism Factor</label>
									<input id="elit_fact" type="text" value="0.2">
								</div>
							</div>
							<div class="inline fields" style="margin-top:2%;">
								<div class="ui slider four wide field checkbox">
								  <input id="adaptive" type="checkbox" name="adaptive">
								  <label>Adaptive</label>
								</div>
								<div class="four wide field">
									<label>adaptive lookback</label>
									<input id="adaptive_lookback" type="text" value="5">
								</div>
							</div>
							<div class="inline fields" style="margin-top:2%;">
								<div class="ui four wide field slider checkbox">
								  <input id="enable_plague" type="checkbox" name="enable_plague">
								  <label>Plague</label>
								</div>
								<div class="four wide field">
									<label>Plague lookback</label>
									<input id="plague_lookback" type="text" value="10">
								</div>
								<div class="four wide field">
									<label>Plague effect</label>
									<input id="plague_effect" type="text" value="1">
								</div>
							</div>
						</form>
					</div>
					<div id="sa_conf_form" style="margin-top:1%;">
						<form class="ui form">
							<div class="inline fields">
								<div class="four wide field">
									<label>Iteration</label>
									<input id="sa_iterations" type="text" value="100">
								</div>
							</div>
							<div class="inline fields">
									<div class="ui slider four wide field checkbox">
									  <input id="adaptive_sa" type="checkbox" name="adaptive">
									  <label>Adaptive</label>
									</div>
									<div class="four wide field">
										<label>adaptive lookback</label>
										<input id="adaptive_lookback_sa" type="text" value="5">
									</div>
							</div>
						</form>
					</div>
                </div>

			</div>



        </div>

	</div>

	<button id="calc_button" class="ui button big" style="margin-inline-start: 45%;margin-bottom: 30px;">Optimize!</button>


</body>
</html>
